{{- $cells := . -}}
{{- $isAlignment := true -}}
{{- if eq (len $cells) 0 -}}
  {{- $isAlignment = false -}}
{{- end -}}
{{- range $cells -}}
  {{- if $isAlignment -}}
    {{- $cell := strings.TrimSpace . -}}
    {{- if eq $cell "" -}}
      {{- $isAlignment = false -}}
    {{- else -}}
      {{- $noColons := strings.Trim $cell ":" -}}
      {{- $hasDashes := in $noColons "-" -}}
      {{- $onlyDashes := eq (strings.Trim $noColons "-") "" -}}
      {{- $colonsOnly := eq $noColons "" -}}
      {{- if or $colonsOnly (not $hasDashes) (not $onlyDashes) -}}
        {{- $isAlignment = false -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}
{{- end -}}
{{- return $isAlignment -}}
