{{- $cells := . -}}
{{- $isAlignment := true -}}
{{- if eq (len $cells) 0 -}}
  {{- $isAlignment = false -}}
{{- end -}}
{{- range $cells -}}
  {{- if $isAlignment -}}
    {{- $cell := strings.TrimSpace . -}}
    {{- if eq $cell "" -}}
      {{- $isAlignment = false -}}
    {{- else -}}
      {{- $content := strings.Trim $cell ":" -}}
      {{- $hasContent := ne $content "" -}}
      {{- $hasDashes := in $content "-" -}}
      {{- $onlyDashes := eq (strings.Trim $content "-") "" -}}
      {{- if or (not $hasContent) (not $hasDashes) (not $onlyDashes) -}}
        {{- $isAlignment = false -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}
{{- end -}}
{{- return $isAlignment -}}
